body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(bg.jpg);
  background-size: 150%;
  background-repeat: repeat;
  color: white;
  text-align: center;
  font-size: 100%;
}

header {
  background-color: #333;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 130%;
}

header h1 {
  margin: 0;
}

header nav {
  display: flex;
}

header nav a {
  color: #FFFFFF;
  margin-left: 1em;
  text-decoration: none;
}

.intro {
  background-color: #333;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 50px;
}

.intro h2 {
  text-align: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team-images {
  display: flex;
  justify-content: space-between;
}

.team-images img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
}

form input[type="email"],
form textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;
  width: 50%;
}

form textarea {
  height: 150px;
  margin-top: 1em;
  resize: none;
}

form button[type="submit"] {
  background-color: #333;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  padding: 0.5em;
  width: 20%;
}

.team-name {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0.5em;
  text-align: center;
}

img {
  width: 50%;
  height: auto;
}
